body {
  font-size: 12px;

    background-color:#f0f4f5;
    background-repeat: no-repeat;
    background-size: cover;
}

#id_myblog {
  font-family:sans-serif;
  font-size: 36px;
  color: #6699ff;
  text-align: center;
}

h1 {
font-family:sans-serif;
font-size: 26px;
color: #6699ff;

}

p {
  text-align: left;
  font-size: 16px;
  font-family: sans-serif;
  font-style: normal;
  color: #000d33;
}

a {
  font-family:sans-serif;
  font-style: italic;
  color: #ff9999;
}
a:hover {
  font-weight: bold;
  text-shadow: 1px 1px grey;
}
.reflection {
  font-size: 20px;
}

.reflection:hover {
  font-size: 26px;
}

.htmlcssdom {
  font-size: 20px;
}

.htmlcssdom:hover {
  font-size: 26px;
}

#id_timeandhabits {
  font-size: 20px;
}

#id_timeandhabits:hover {
  font-size: 26px;

}
