body {
  font-size: 12px;

    background-color:#f0f4f5;
    background-repeat: no-repeat;
    background-size: cover;
}

#id_myblog {
  font-family: 'Architects Daughter', cursive;
  font-size: 40px;
  color: #3366ff;
  text-align: center;
  text-shadow: 4px 4px 4px #aaa;

}

h1 {
font-family: 'Architects Daughter', cursive;
color: #3366ff;

}

p {
  text-align: left;
  font-size: 16px;
  color: #000d33;
}

a {
  text-align: center;
  font-family: 'Architects Daughter', cursive;
  color: #3366ff;
  padding: 10px;
  font-size: 20px;


}
a:hover {
  font-weight: bold;
  font-size: 30px;


}

.row {
  width: 100%;
  padding: 20px;
  margin: 40px;
}

.reflection {
}

.reflection:hover {
}

.htmlcssdom {
}

.htmlcssdom:hover {
}

.timeandhabits {

}
.timeandhabits:hover {

}
